.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.flex-align-top {
    align-items: flex-start;
}

.flex-align-bottom {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

header {
    border-bottom: 1px dotted darkgrey;
}

nav {
    padding: 20px;
    border-bottom: 1px dotted darkgrey;
}

section {
    margin-top: 10px;
}

.code {
    background: #eeeeee;
    color: green;
}

.box {
    border: 1px dotted darkgrey;
    padding: 10px;
    margin: 5px;
}